p {
  font-size: 20px;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  backdrop-filter: blur(50px);
  text-shadow: 0px 0px 1px black;
}

#details {
  background-image: url("https://images.unsplash.com/photo-1571947453052-1e72ce0d19b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-position: 0px -100px;
  background-size: cover;
  background-color: rgba(4, 0, 59, 0.719);
  margin: auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

#detail-title {
  margin: 20px auto;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 1px black 
}

.detail-poster {
  box-shadow: 1px 1px 20px 5px white;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 400px;
  width: 300px;
  
}

.genre-names {
  color: white;
  text-shadow: 1px 1px 10px #fff;
  font-size: 15px;
  width: 300px;
  margin: auto;
}

#close-icon {
  position: absolute;
  left: 75%;
  top: 1%;
  font-size: 60px;
  
  border-radius: 50px;
  color: white;
  background-color: rgba(112, 112, 112, 0.082);
}

#close-icon:hover {
  color: rgb(170, 170, 170);
  animation: turn 0.4s linear forwards;
}

#close-icon:active {
  color: yellow;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
    filter: hue-rotate(180deg);
  }
}
