p {
    color:white;
    width:95%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#details {
    background-color: rgba(4, 0, 59, 0.719);
    margin: auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px yellow;
}

#detail-title {
    color:white;
    text-shadow: 1px 1px 10px yellow;
}

#back-details {
    top: 0;
    margin-top: 100px;
}

.genre-names {
    color:white;
}