#form-div {
    background-image: url('https://4kwallpapers.com/images/wallpapers/sith-star-wars-lightsaber-dark-background-3840x2160-5554.jpg');
    background-size: cover;
    /* height: 300px; */
    /* margin: 15% 10% auto; */
    height: 600px;
    width: 1200px;
    margin: 4% auto;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 30px 5px rgb(70, 241, 84);
    animation: animate 3s linear infinite;
    
}

#movie-input {
    margin: 25% auto;
}

#form-div:hover {
    box-shadow: 1px 1px 30px 1px rgb(240, 52, 52);

}

#form-back {
    background-image: url('https://images.hdqwalls.com/download/star-wars-the-rise-of-skywalker-new-5k-rh-1920x1080.jpg');
    background-position: 0% 0%;
    height: 100%;
    background-size: cover;
    margin: auto;
    animation: animate 3s linear infinite;
}
