
.movie-poster {
  transition: transform 450ms;
  height: 400px;
  width: 300px;
}
.movies {
  object-fit: contain;
  width: 100%;
  max-height: 400px;
  display: flex;
  /* background-color: rgba(68, 68, 68, 0.555); */
  /* box-shadow: 0px 0px 10px rgb(255, 255, 255); */
  border-radius: 10px;
  margin: auto;
  width: 85%;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.movies * {
  margin-right: 10px;
  /* margin: 0.2rem auto 0.1rem auto; */
  /* box-shadow: 1px 5px 20px rgba(255, 255, 255, 0.829); */
  border-radius: 10px;
}

.movie-poster-webkit-scrollbar {
  display: none;
}

.movies:hover{
  color:white;
}



.movie-poster:hover {
  box-shadow: 0px 0px 30px rgb(90, 222, 255);
  transform: scale(1.08);
}


body {
  background-color: black;
  background-size: cover;
  background-position: -300px -300px;
}

#terms {
  color: white;
  text-shadow: 0px 0px 1px black;
  margin-right: 910px;
  float: right;

}

#recently {
  color: white;
  text-shadow: 0px 0px 1px black;
  margin-left: 100px;
  float: left;
}


nav {
  background-color: white;
  width: 10%;
  border-radius: 5px;
}

#button-add-movie {
  margin: 10px auto 50px auto;
  right: 106px;
  top: -65px;
  position: fixed;
  
}

/* img:hover {
  box-shadow: 1px 1px 20px 10px rgb(78, 190, 255);
} */

