@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");



#header {
  color: rgb(9, 204, 238);
  margin: 70px auto;
  width: 85%;
  height: 500px;
  font-family: Staatliches;
  background-position: -100px -900px;
  border-radius: 10px;
  background-image: url("https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

#movie-saga {
  /* vertical-align: middle;
  line-height: 4.5; */
  position: fixed;
  margin: -75px 1px 1px 1px;
  font-size: 60px;
  color: red;
  letter-spacing: 15px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px white;
  backdrop-filter: blur(1.5px);
  display: flex;
}

#movie-saga:hover {
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
