@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");



#header {
  color: rgb(9, 204, 238);
  margin: 70px auto;
  width: 85%;
  height: 350px;
  font-family: Staatliches;
  border-radius: 10px;
  background-image: url("Header-Image.png");
  background-color: white;
  background-size: cover;
}


#movie-saga {
  /* vertical-align: middle;
  line-height: 4.5; */
  position: fixed;
  margin: -110px 1px 1px 60px;
  font-size: 60px;
  color: red;
  letter-spacing: 15px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px white;
  backdrop-filter: blur(1.5px);
  display: flex;
}

#movie-saga:hover {
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
